<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.khandroid.samples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.github.khandroid.samples.Act_Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act_ActivityDemos"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Act_FragmentDemos"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".networking.Act_ActivitySimpleHttpDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.networking.Act_FragmentSimpleHttpDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.networking.Act_ActivityCookieHttpDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.networking.Act_FragmentCookieHttpDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.networking.Act_ActivityRestDemo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.networking.Act_SessionDemo1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.networking.Act_SessionDemo2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.misc.Act_WaitIndicator"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.misc.Act_ProgressIndicator"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.misc.Act_FragmentProgressIndicator"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.khandroid.samples.networking.Act_ActivityVolleyRest"
            android:label="@string/app_name" >
        </activity>
    </application>
</manifest>